/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common styles start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.wrapper {
  margin-inline: 200px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
#root {
  --primary-color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --secondary-color: #534c64;
}
.primary-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 21px 40px;
  border: 0;
  white-space: nowrap;
}
.section-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.section-description {
  color: #534c64;
  font-size: 18px;
  line-height: 30px;
}
/* common styles end */

/* header styles start  */
.nav-outer {
  padding-block: 24px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 45px;
  font-weight: 700;
}
.nav-menu,
.nav-menu div,
.nav-btn,
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-menu,
.nav-menu > div {
  gap: 32px;
}
.nav-link {
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
}
.nav-btn {
  gap: 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
  padding: 18px 24px;
}
.nav-btn-text {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.nav-icon {
  gap: 16px;
}
.nav-icon .fa-youtube {
  font-size: 1.4rem;
  color: #f61c0d;
}
.nav-icon .fa-tiktok {
  font-size: 1rem;
}
.nav-logo img {
  width: 86.041px;
  height: 40px;
}
.nav-logo span {
  color: #ff42a5;
}
/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.banner-left,
.banner-right {
  /* height: 700px; */
}
.banner-left.wrapper {
  margin-inline: 0;
}
.banner-left {
  position: relative;
}
.banner-left-content {
  position: absolute;
  top: 90px;
  /* top: 148px; */
}
.banner-left-content.wrapper {
  margin-right: 0;
}
.banner-left-content h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-left-content h1 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.banner-left-info-list div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.1rem;
}
.banner-left-info-list div i {
  color: #ff42a5;
}
.banner-left-btn {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}
.banner-left-btn button:last-child {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  padding: 21px 40px;
  border: 0;
  background-color: #4ec5f7;
}
.banner-right.wrapper {
  margin-left: 0;
}

/* header styles end  */

/* hero section styles start  */
.hero-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-top: -4px;
}
.hero-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
  padding-block: 55px;
}
.hero-section-container div:last-child {
  text-align: right;
}
.hero-section-container div:last-child p {
  max-width: 520px;
}
.hero-section-container div:last-child p {
  max-width: 520px;
  margin-bottom: 24px;
}
.hero-section-container div:last-child button {
  margin-bottom: 20px;
}
.hero-section-container div:last-child span {
  color: #534c64;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 500;
}
.hero-section-container div:last-child span span {
  color: #534c64;
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;
}
/* hero section styles end  */

/* media query for mobile devices start here */
@media only screen and (max-width: 426px) {
  .section-title {
    font-size: 1.8rem;
  }
  .section-description {
    font-size: 0.8rem;
  }

  .nav-outer {
    box-shadow: none;
  }
  .wrapper {
    padding-inline: 20px;
  }

  nav,
  .nav-menu,
  .nav-menu > div {
    flex-direction: column;
  }
  nav,
  .nav-menu {
    gap: 40px;
  }

  .nav-menu > div {
    gap: 20px;
  }
  .nav-logo {
    justify-content: center;
  }
  /* banner  styles for mobile*/
  .banner {
    flex-direction: column;
    align-items: normal;
  }
  .banner-left {
    margin-top: 20px;
    order: 2;
    width: 100%;
    height: 100%;
  }

  .banner-right {
    height: 700px;
    margin-top: 20px;
    order: 1;
    width: 100%;
    height: 100%;
  }
  .banner-left-content {
    top: 30px;
    padding-left: 20px;
  }
  .banner-left-content.wrapper {
    margin-inline: 0;
  }
  .banner-left-content h2 {
    font-size: 25px;
  }
  .banner-left-content h1 {
    font-size: 45px;
  }

  .banner-left-info-list div {
    gap: 10px;
    margin-bottom: 0.8rem;
  }

  .banner-left-info-list div i {
    font-size: 0.8rem;
  }

  .banner-left-info-list div span {
    font-size: 0.9rem;
  }
  .banner-left-btn {
    gap: 10px;
    margin-top: 20px;
  }
  .banner-left-btn button:last-child {
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 500;
    white-space: normal;
  }
  .banner-left-btn .primary-btn {
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 500;
  }
  /* hero section  */
  .hero-section {
    background: none;
  }
  .hero-section-container {
    flex-direction: column;
  }
  .hero-section-container.wrapper {
    margin-inline: 20px;
  }
  .hero-section-container div:first-child {
    width: 400px;
  }
  .hero-section-container div:first-child img {
    /* height: 400px; */
    width: 100%;
    height: 100%;
  }
  .hero-section-container div:last-child {
    text-align: center;
  }

  .hero-section-container div:last-child p {
    text-align: center;
    max-width: 420px;
    line-height: normal;
    font-size: 0.8rem;
    margin-bottom: 24px;
  }
  .hero-section-container div:last-child button {
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 10px 20px;
  }
  .hero-section-container div:last-child span {
    text-align: center;
    font-size: 1rem;
  }
  .hero-section-container div:last-child span span {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
/* media query for mobile devices end here */

/* media query for tablet devices start here */
@media only screen and (min-width: 427px) and (max-width: 768px) {
  .nav-outer {
    box-shadow: none;
  }
  .wrapper {
    padding-inline: 10px;
  }

  nav,
  .nav-menu,
  .nav-menu > div {
    justify-content: center;
    flex-direction: column;
  }
  nav,
  .nav-menu {
    gap: 40px;
  }

  .nav-menu > div {
    gap: 20px;
  }
  .nav-logo {
    justify-content: center;
  }
}
/* media query for tablet devices end here */
